body {
  margin: 0px;
  display: block;
}

.top-nav {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  overflow: hidden;
  float: top;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
}

a[id="nav-item"] {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

a:hover[id="nav-item"], a:active[id="nav-item"] {
  text-decoration: none;
  color: green;
}

div#header {
 float: top; 
 border: 1px solid green;
 height: 40px;
}

.content {
  float: top;
  overflow: hidden;
}

.picture {
  margin: 0;
  padding: 0;
  float: left;
}

.detail {
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.basic_information {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.experiment_title {
  font-size: 15px;
}

.experiment_content {
  font-weight: normal;
}


.contact {
  font-size: 15px;
}

li[id="subItem"] {
  list-style-type: circle;
} 